{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
<h2>Change the Passord</h2>

{% if temp_message %}
    <h3>The passward has been successully changed. Please go to the login page.</h3>
    <h3><a href="{{ url_for('login') }}">Back to login</a></h3>

{% endif %}



 <form method="POST" action="{{ url_for('reset_token', token=token) }}">
    {{ form.hidden_tag() }}
    {{ form.password.label }} {{ form.password }}
    <input type="submit" value="Create passowrd">
</form>
{% endblock %}
